// layers
#define MAIN 0
#define SYM 1
#define NUM 2
#define ACC 3
#define NAV 4

//homerow
#define HM_A &hm_asemi LGUI A
#define HM_R &hm_sl LALT R
#define HM_S &hm_dk LCTRL S
#define HM_T &hm_fj LSHFT T
#define HM_G &hm_gh ACC G
#define HM_O &hm_asemi LGUI O
#define HM_I &hm_sl LALT I
#define HM_E &hm_dk LCTRL E
#define HM_N &hm_fj LSHFT N
#define HM_M &hm_gh ACC M

//bluetooth
#define BT0 &bt BT_SEL 0 
#define BT1 &bt BT_SEL 1 
#define BT2 &bt BT_SEL 2 
#define BT3 &bt BT_SEL 3 
#define BT4 &bt BT_SEL 4 
